@import "../../assets/styles/functions";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.productCard {
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: units(10px 0);
  overflow: hidden;
  padding: units(15px);
  position: relative;
  text-align: center;
  width: 100%;

  &__wrapper {
    position: relative;
    height: units(150px);
  }

  &__image {
    font-family: "object-fit: contain; object-position: center;";
    height: units(150px);
    object-fit: contain;
    object-position: center;
    width: auto;
  }

  &__quantity {
    background: $green;
    bottom: 0;
    color: $white;
    font-size: units(18px);
    font-weight: bold;
    letter-spacing: units(1px);
    padding: units(0 5px);
    position: absolute;
    right: 0;
    width: auto;
  }

  &__title {
    font-size: units(16px);
    margin-bottom: units(10px);
  }

  &__price {
    bottom: 0;
    margin: 5px auto 0;
    position: relative;
    width: calc(95% - 20px);
  }

  &__retailPrice {
    font-size: units(16px);
    text-decoration: line-through;
  }

  &__salePrice {
    font-size: units(20px);
    font-weight: bold;
  }

  // tablet
  @include medium {
    height: units(300px);
    width: 28%;

    &__title {
      font-size: units(18px);
    }

    &__price {
      position: absolute;
      bottom: 20px;
    }

    &__retailPrice {
      font-size: units(18px);
    }

    &__salePrice {
      font-size: units(22px);
    }
  }

  // desktop
  @include large {
    height: units(355px);
    padding: units(20px);
    width: 20%;

    &__wrapper {
      height: units(175px);
      margin-bottom: units(15px);
    }

    &__image {
      height: units(175px);
    }

    &__title {
      font-size: units(20px);
    }

    &__price {
      position: absolute;
      bottom: 20px;
    }

    &__retailPrice {
      font-size: units(20px);
    }

    &__salePrice {
      font-size: units(24px);
    }
  }
}
