@import "../../assets/styles/functions";

.productCollection {
  display: flex;
  flex-direction: column;
  margin: units(0 10px 20px);
  padding: units(0 20px);

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
