@import "../../assets/styles/functions";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.productCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
